# .flake8
[flake8]
max-line-length = 79

# Ignore rules (with comments outside the list)
# E203: whitespace before ':' (needed for Black compatibility)
# W503: line break before binary operator
extend-ignore = E203, W503

exclude =
    .git,
    __pycache__,
    build,
    dist
